@model List<Category>
@{
    ViewData["Title"] = "CategoryList";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Category List</h3>
                
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>CategoryId</th>
                                <th>Category Name</th>
                                <th>Status</th>
                                <th>Delete</th>
                                <th>Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.CategoryId</td>
                                    <td>@item.CategoryName</td>
                                    @if (item.CategoryStatus == true)
                                    {
                                        <td><label class="badge badge-success badge-pill">Active Category</label></td>
                                    }
                                    else
                                    {
                                    <td><label class="badge badge-danger badge-pill">Passive Category</label></td>

                                    }
                                    
                                    <td><a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-outline-danger">Delete</a></td>
                                    <td><a href="/Category/UpdateCategory/@item.CategoryId" class="btn btn-outline-success">Update</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="/Category/CreateCategory/" class="btn btn-outline-primary">Create Category</a>
                </div>
            </div>
        </div>
    </div>
</div> <!-- Close .row -->