@model Category
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Views/Layout/Index.cshtml";
}


<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add New Category</h4>
                
                <form class="forms-sample" method="post">
                    <div class="form-group">
                        <label for="exampleInputName1">Category Name</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Category Name" asp-for="CategoryName">
                    </div>
                    
                    <button type="submit" class="btn btn-primary mr-2">Add Category</button>
                    
                </form>
            </div>
        </div>
    </div>

</div>