
@*
    Sidebar Component
*@
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <div class="nav-link">
                <div class="profile-image">
                    <img src="Melody-Premium-Bootstrap-Admin-Dashboard-Templateimages/faces/face5.jpg" alt="image" />
                </div>
                <div class="profile-name">
                    <p class="name">
                        Welcome Okan
                    </p>
                    <p class="designation">
                        Super Admin
                    </p>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index/">
                <i class="fa fa-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Statistics/">
                <i class="fa fa-puzzle-piece menu-icon"></i>
                <span class="menu-title">Statistics</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Category/CategoryList">
                <i class="fa fa-bolt menu-icon"></i>
                <span class="menu-title">Categories</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/CustomerListOrderByCustomerName">
                <i class="fa fa-certificate menu-icon"></i>
                <span class="menu-title">Customer List By Name</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/CustomerListOrderByDescBalance">
                <i class="fa fa-file-alt menu-icon"></i>
                <span class="menu-title">Customer List By Balance</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/CustomerGetByCity">
                <i class="fa fa-cube menu-icon"></i>
                <span class="menu-title">Search Customer By City</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Product/ProductList">
                <i class="fa fa-coffee menu-icon"></i>
                <span class="menu-title">Product List</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Product/First5ProductList">
                <i class="fa fa-database menu-icon"></i>
                <span class="menu-title">First 5 Item</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Product/Skip4ProductItems">
                <i class="fa fa-compass menu-icon"></i>
                <span class="menu-title">Skip the first 4 Item</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Order/OrderList">
                <i class="fa fa-cubes menu-icon"></i>
                <span class="menu-title">Order List</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Order/AllStockSmallerThan5">
                <i class="fa fa-fighter-jet menu-icon"></i>
                <span class="menu-title">Order List(Stock< 5 )</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Order/OrderListByStatus">
                <i class="fa fa-flag menu-icon"></i>
                <span class="menu-title">Order List By Status</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Order/OrderListSearch">
                <i class="fa fa-fire menu-icon"></i>
                <span class="menu-title">Search Order</span>
            </a>
        </li>
    </ul>
</nav>
